alias be='bundle exec'
alias la='ls -a'
alias ll='ls -al'
alias ls='ls -G'
alias mc='mailcatcher --smtp-port 1026 --http-port 1081'
alias migrate='be rake db:migrate'
alias cdf='eval `osascript /Applications/OpenTerminal.app/Contents/Resources/Scripts/OpenTerminal.scpt `'
alias syncdb='bundle exec rake db:sync'
alias pryrails='pry -r ./config/environment'
alias rc='./script/console --irb=pry'
alias syn='/Applications/Synergy.app/Contents/MacOS/Synergy & exit'
alias touchapp='touch tmp/restart.txt'
alias v='mvim'
alias gr='gitresethard'
alias startsnap='cd ~/compare/files;imagesnap -d "Display iSight" -t 2 -q'

# confirm and delete files created after using git mergetool
alias delorig='find . -name *.orig | xargs -pL1 rm'

## directory traversal
alias ..='cd ..'
alias ...='cd ../..'
