alias be='bundle exec'
alias ctags="`brew --prefix`/bin/ctags"
alias dl='youtube-dl'
alias gm-='git merge --no-ff -'
alias gmj='gitmoji'
alias gr='gitresethard'
alias histblock='export HISTIGNORE="*"'
alias histunblock='unset HISTIGNORE'
alias la='ls -a'
alias ll='ls -al'
alias ls='ls -G'
alias myip='ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d\  -f2'
alias s='ssh_prompt'
alias syn='/Applications/Synergy.app/Contents/MacOS/Synergy & exit'
alias t='rails test'
alias v='mvim'

# confirm and delete files created after using git mergetool
alias delorig='find . -name *.orig | xargs -pL1 rm'

## directory traversal
alias ..='cd ..'
alias ...='cd ../..'
