# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@"
	}
fi

#{{{ GIT FUNCTIONS
gitresethard()
{
  branch=$(git rev-parse --abbrev-ref HEAD)
  git reset --hard origin/${branch}
}
#}}}

gitsecurerm()
{
  git filter-branch --force --index-filter "git rm --cached --ignore-unmatch $1" --prune-empty --tag-name-filter cat -- --all
}
